
@{
    ViewBag.Title = "AdminPage";
}

<h2>AdminPage</h2>
<style>
    body {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdZEEU2b0ThGWdYuWu4DSLU24sQDmqxt7JKg&usqp=CAU');
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: cover;
    }

    a {
        color: Black;
    }

    .links a {
        background: white;
        color: black;
        padding: 0.5rem;
    }
</style>
<div class="links">
@Html.ActionLink("UserManagement", "Index", "User")||
@Html.ActionLink("PackageManagement", "PackageDetails", "Package")||
@Html.ActionLink("CarManagement", "CarDetails", "Car")
</div>

